@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: radial-gradient(#186a5e, #053339);
  background-repeat: no-repeat;
  font-family: 'Quicksand', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
