@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: rgb(33, 40, 37);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 5rem;
  margin-top: 30px;
}

.heading {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 30px 0px;
}

#root {
  padding: 0px;
  width: clamp(30rem, 50vw, 70rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table_heading th {
  font-size: 12px;
  font-weight: 100;
  color: rgb(132, 236, 196);
}
